experiment_name: cua-agent
trial_name: run0
seed: 42
tokenizer_path: ${actor.path}
workflow: cua_workflow.CUAAgentWorkflow
eval_workflow: ${workflow}
max_turns: 20
max_task_time_seconds: 600
max_turn_time_seconds: 120
gym_base_url: http://20.57.165.105:5010
gym_id: ''
gym_train_ratio: 0.8
gym_split_type: train
gym_limit: null
gym_eval_number_range: 001-032
gym_seed: 42
gym_tags: null
gbox_mini_agent_base_url: http://127.0.0.1:3100
gbox_mini_agent_agent: mai-ui
gbox_mini_agent_standard_action_space: mobile
model_base_url: ''
model_name: ''
monitor_base_url: ''
project_id: ''
project_token: ''
cluster:
  n_nodes: 1
  n_gpus_per_node: 1
  fileroot: /home/zhenwei/AReaL/examples/cua_agent/experiments
allocation_mode: vllm:d1p1t1+d1p1t1
rollout:
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  consumer_batch_size: ${train_dataset.batch_size}
  fileroot: ${cluster.fileroot}
  tokenizer_path: ${tokenizer_path}
  scheduling_spec:
  - cmd: python -m areal.infra.rpc.rpc_server
    gpu: 1
gconfig:
  n_samples: 4
  min_new_tokens: 0
  max_new_tokens: 2048
  temperature: 0.0
vllm:
  model: ${actor.path}
  seed: ${seed}
  skip_tokenizer_init: false
  dtype: ${actor.dtype}
  max_model_len: 200000
  limit_mm_per_prompt: '{"image":64}'
  allowed_media_domains: screenshots.tos-cn-guangzhou.volces.com
  kv_offloading_size: 20
  kv_offloading_backend: lmcache
  lmcache_remote_url: redis://localhost:6379
  gpu_memory_utilization: 0.22
actor:
  log_group_rewards: true
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  path: Tongyi-MAI/MAI-UI-8B
  init_from_scratch: false
  dtype: bfloat16
  weight_update_mode: disk
  gradient_checkpointing: true
  fsdp:
    memory_efficient_load: true
  mb_spec:
    max_tokens_per_mb: 4096
    n_mbs: 1
  optimizer:
    type: adam
    lr: 1.7e-05
    weight_decay: 0.017
    beta1: 0.9
    beta2: 0.999
    warmup_steps_proportion: 0.0
    lr_scheduler_type: cosine
    gradient_clipping: 1.0
    offload: true
  reward_norm:
    mean_level: group
    std_level: group
    group_size: ${gconfig.n_samples}
  adv_norm:
    mean_level: batch
    std_level: batch
  scheduling_strategy:
    type: colocation
    target: rollout
ref:
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  path: ${actor.path}
  dtype: ${actor.dtype}
  fsdp:
    memory_efficient_load: true
  scheduling_strategy:
    type: colocation
    target: actor
train_dataset:
  path: cua_gym
  type: rl
  batch_size: 4
  shuffle: true
valid_dataset:
  path: cua_gym
  type: rl
  batch_size: 2
saver:
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  fileroot: ${cluster.fileroot}
  freq_steps: 1
  freq_epochs: null
recover:
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  fileroot: ${cluster.fileroot}
  mode: auto
evaluator:
  freq_steps: 10
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  fileroot: ${cluster.fileroot}
stats_logger:
  experiment_name: ${experiment_name}
  trial_name: ${trial_name}
  fileroot: ${cluster.fileroot}
  wandb:
    mode: offline
